<div class="card text-left">
  <div class="card-body">
    <h3 class="card-title">Banner</h3>
    <table class="table table-bordered">
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Name</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>

      <tr *ngFor="let banner of banners; let i = index">
        <th>{{ i + 1 }}</th>
        <td>
          <img
            src="{{ banner.imageUrl }}"
            alt="Profile"
            style="width: 80px; height: auto"
          />
        </td>
        <td>{{ banner.name }}</td>
        <td>{{ banner.title }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteBanner(banner.id)">
           <i class="fa fa-trash" aria-hidden="true"></i> Delete
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-info btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#editBannerModal"
            (click)="onSelected(banner)"
          >
           <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          </button>
        </td>
      </tr>
    </table>

    <button
      type="button"
      class="btn btn-dark btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#newBannerModal"
    >
     <i class="fa fa-plus-circle" aria-hidden="true"></i> New Banner
    </button>
  </div>
</div>

<!-- Create Modal -->
<div
  class="modal fade"
  id="newBannerModal"
  tabindex="-1"
  aria-labelledby="newBannerModalLabel"
  aria-hidden="true"
>
  <form
    #createForm="ngForm"
    (ngSubmit)="
      createBanner();createForm.resetForm()
    "
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newBannerModalLabel">
            Create New Banner
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Image Url</label>
            <input
              type="text"
              #imageUrl
              name="imageUrl"
              [(ngModel)]="banner.imageUrl"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              #name
              name="name"
              [(ngModel)]="banner.name"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              #title
              name="title"
              [(ngModel)]="banner.title"
              class="form-control"
              required=""
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-dark btn-block"
            data-bs-dismiss="modal"
            [disabled]="createForm.invalid"
          >
           <i class="fas fa-save    "></i> Save Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Update Modal -->
<div
  class="modal fade"
  id="editBannerModal"
  tabindex="-1"
  aria-labelledby="editBannerModalLabel"
  aria-hidden="true"
>
  <form #editForm="ngForm" (ngSubmit)="updateBanner();editForm.resetForm()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editBannerModalLabel">
            Edit Banner
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Image Url</label>
            <input
              type="text"
              name="imageUrl"
              [(ngModel)]="editBanner.imageUrl"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              name="name"
              [(ngModel)]="editBanner.name"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              name="title"
              [(ngModel)]="editBanner.title"
              class="form-control"
              required=""
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="editForm.invalid || !editForm.dirty"
          >
           <i class="fa fa-pencil" aria-hidden="true"></i> Update Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
