<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Panel</title>


</head>
<body>
  <!-- Toggle Button -->
  <button id="sidebarToggle" class="btn btn-dark m-3 d-lg-none">
    ☰ Menu
  </button>


  <!-- Sidebar -->
  <div id="sidebar" class="sidebar">
    <h4 class="text-white p-3">Portfolio Admin Panel</h4>
    <a routerLink=""><i class="fas fa-home"></i> Home</a>
    <a routerLinkActive="active" routerLink="/admin/banner" (click)="closeSidebar()"><i class="fas fa-image"></i> Banner</a>
    <a routerLinkActive="active" routerLink="/admin/education" (click)="closeSidebar()"><i class="fa fa-graduation-cap"></i> Educations</a>
    <a routerLinkActive="active" routerLink="/admin/category" (click)="closeSidebar()"><i class="fa fa-list-ol"></i> Categories</a>
    <a routerLinkActive="active" routerLink="/admin/project" (click)="closeSidebar()"><i class="fas fa-project-diagram"></i> Projects</a>
    <a routerLinkActive="active" routerLink="/admin/experience" (click)="closeSidebar()"><i class="fa fa-suitcase"></i> Experience</a>
    <a routerLinkActive="active" routerLink="/admin/skill" (click)="closeSidebar()"><i class="fas fa-chess-king"></i> Skills</a>
  </div>



  <!-- Main Content -->
  <div id="mainContent" class="content">
   <router-outlet></router-outlet>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>
