<div class="card text-left">
  <div class="card-body">
    <h3 class="card-title">Experiences</h3>

    <table class="table table-bordered table-hover">
      <tr>
        <th>#</th>
        <th>Company</th>
        <th>Title</th>
        <th>Start Year</th>
        <th>End Year</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>

      <tr *ngFor="let item of experiences; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ item.company }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.startYear }}</td>
        <td>{{ item.endYear }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteExperience(item.id)">
           <i class="fa fa-trash" aria-hidden="true"></i> Delete
          </button>
        </td>
        <td>
          <button
            class="btn btn-info btn-sm"
            (click)="onSelected(item)"
            data-bs-toggle="modal"
            data-bs-target="#editBannerModal"
          >
           <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          </button>
        </td>
      </tr>
    </table>
    <button
      type="button"
      class="btn btn-dark"
      data-bs-toggle="modal"
      data-bs-target="#newBannerModal"
    >
    <i class="fa fa-plus-circle" aria-hidden="true"></i>  New Experience
    </button>
  </div>
</div>

<!-- Create Modal -->
<div
  class="modal fade"
  id="newBannerModal"
  tabindex="-1"
  aria-labelledby="newBannerModalLabel"
  aria-hidden="true"
>
  <form #createForm="ngForm" (ngSubmit)="createExperience(); company.value = '';title.value='';startYear.value='';endYear.value=''">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newBannerModalLabel">
            Create New experience
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Company</label>
            <input
              type="text"
              #company
              name="company"
              [(ngModel)]="experience.company"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              #title
              name="title"
              [(ngModel)]="experience.title"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Start Year</label>
            <input
              type="text"
              #startYear
              name="startYear"
              [(ngModel)]="experience.startYear"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>End Year</label>
            <input
              type="text"
              #endYear
              name="endYear"
              [(ngModel)]="experience.endYear"
              class="form-control"
              required=""
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-dark btn-block"
            data-bs-dismiss="modal"
            [disabled]="createForm.invalid"
          >
           <i class="fas fa-save    "></i> Save Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Update Modal -->
<div
  class="modal fade"
  id="editBannerModal"
  tabindex="-1"
  aria-labelledby="editBannerModalLabel"
  aria-hidden="true"
>
  <form #editForm="ngForm" (ngSubmit)="updateExperience(); company.value = '';title.value='';startYear.value='';endYear.value=''">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editBannerModalLabel">
            Edit experience
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Company</label>
            <input
              type="text"
              #company
              name="company"
              [(ngModel)]="editExperience.company"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              #title
              name="title"
              [(ngModel)]="editExperience.title"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>Start Year</label>
            <input
              type="text"
              #startYear
              name="startYear"
              [(ngModel)]="editExperience.startYear"
              class="form-control"
              required=""
            />
          </div>
          <div class="form-group">
            <label>End Year</label>
            <input
              type="text"
              #endYear
              name="endYear"
              [(ngModel)]="editExperience.endYear"
              class="form-control"
              required=""
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="editForm.invalid || !editForm.dirty"
          >
           <i class="fa fa-pencil" aria-hidden="true"></i> Update Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
