<div class="card text-left">
  <div class="card-body">
    <h3 class="card-title">Categories</h3>

    <table class="table table-bordered table-hover">
      <tr>
        <th>#</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>

      <tr *ngFor="let item of categories; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ item.name }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCategory(item.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>  Delete
          </button>
        </td>
        <td>
          <button
            class="btn btn-info"
            (click)="onSelected(item)"
            data-bs-toggle="modal"
            data-bs-target="#editBannerModal"
          >
           <i class="fa fa-pencil" aria-hidden="true"></i> Edit
          </button>
        </td>
      </tr>
    </table>
    <button
      type="button"
      class="btn btn-dark"
      data-bs-toggle="modal"
      data-bs-target="#newBannerModal"
    >
    <i class="fa fa-plus-circle" aria-hidden="true"></i>  New Category
    </button>
  </div>
</div>

<!-- Create Modal -->
<div
  class="modal fade"
  id="newBannerModal"
  tabindex="-1"
  aria-labelledby="newBannerModalLabel"
  aria-hidden="true"
>
  <form #createForm="ngForm" (ngSubmit)="createCategory();createForm.resetForm()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newBannerModalLabel">
            Create New Category
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Category Name</label>
            <input
              type="text"
              #name
              name="name"
              [(ngModel)]="category.name"
              class="form-control"
              required=""
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-dark btn-block"
            data-bs-dismiss="modal"
            [disabled]="createForm.invalid"
          >
           <i class="fas fa-save    "></i> Save Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Update Modal -->
<div
  class="modal fade"
  id="editBannerModal"
  tabindex="-1"
  aria-labelledby="editBannerModalLabel"
  aria-hidden="true"
>
  <form #editForm="ngForm" (ngSubmit)="updateCategory(); name.value = ''">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editBannerModalLabel">
            Edit Category
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Category Name</label>
            <input
              type="text"
              name="name"
              [(ngModel)]="editCategory.name"
              class="form-control"
              required=""
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="editForm.invalid || !editForm.dirty"
          >
          <i class="fa fa-pencil" aria-hidden="true"></i>  Update Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
