<div class="card text-left">
  <div class="card-body">
    <h3 class="card-title">Projects</h3>

    <table class="table table-bordered table-hover">
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Project Title</th>
        <th>Github Url</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>

      <tr *ngFor="let item of projects; let i = index">
        <th>{{ i + 1 }}</th>
        <td> <img src="{{ item.imageUrl }}" style="width: 75px; height: 75px;" alt="project img">  </td>
        <td>{{ item.title }}</td>
        <td><a href="{{item.githubUrl}}" target="_blank" ><i class="fab fa-github    "></i> Github</a></td>
        <td>{{item.category.name}}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteProject(item.id)">
           <i class="fa fa-trash" aria-hidden="true"></i> Delete
          </button>
        </td>
        <td>
          <button
            class="btn btn-info btn-sm"
            (click)="onSelected(item)"
            data-bs-toggle="modal"
            data-bs-target="#editBannerModal"
          >
          <i class="fa fa-pencil" aria-hidden="true"></i>  Edit
          </button>
        </td>
      </tr>
    </table>
    <button
      type="button"
      class="btn btn-dark"
      data-bs-toggle="modal"
      data-bs-target="#newBannerModal"
    >
    <i class="fa fa-plus-circle" aria-hidden="true"></i>  New Project
    </button>
  </div>
</div>

<!-- Create Modal -->
<div
  class="modal fade"
  id="newBannerModal"
  tabindex="-1"
  aria-labelledby="newBannerModalLabel"
  aria-hidden="true"
>
  <form #createForm="ngForm" (ngSubmit)="createProject(); createForm.resetForm()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newBannerModalLabel">
            Create New Project
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Project Title</label>
            <input
              type="text"
              #title
              name="title"
              [(ngModel)]="project.title"
              class="form-control"
              required=""
            />
          </div>

          <div class="form-group">
            <label>Image Url</label>
            <input
              type="text"
              #imageUrl
              name="imageUrl"
              [(ngModel)]="project.imageUrl"
              class="form-control"
              required=""
            />
          </div>

          <div class="form-group">
            <label>Github Url</label>
            <input
              type="text"
              #githubUrl
              name="githubUrl"
              [(ngModel)]="project.githubUrl"
              class="form-control"
              required=""
            />
          </div>

          <div class="form-group">
            <label>Project Description</label>
            <textarea
              type="text"
              #description
              name="description"
              [(ngModel)]="project.description"
              class="form-control"
              required=""
              rows="4"
            ></textarea>
          </div>

          <div class="form-group">
            <label>Category</label>
            <select
              type="text"
              #categoryId
              name="categoryId"
              [(ngModel)]="project.categoryId"
              class="form-control"
              required=""
            >
            <option>Choose Category</option>
            <option *ngFor="let item of categories" value="{{item.id}}">{{item.name}}</option>
          </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-dark btn-block"
            data-bs-dismiss="modal"
            [disabled]="createForm.invalid"
          >
          <i class="fas fa-save    "></i>  Save Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Update Modal -->
<div
  class="modal fade"
  id="editBannerModal"
  tabindex="-1"
  aria-labelledby="editBannerModalLabel"
  aria-hidden="true"
>
  <form #editForm="ngForm" (ngSubmit)="updateProject()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editBannerModalLabel">
            Edit Project
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Project Title</label>
            <input
              type="text"
              #title
              name="title"
              [(ngModel)]="editProject.title"
              class="form-control"
              required=""
            />
          </div>

          <div class="form-group">
            <label>Image Url</label>
            <input
              type="text"
              #imageUrl
              name="imageUrl"
              [(ngModel)]="editProject.imageUrl"
              class="form-control"
              required=""
            />
          </div>

          <div class="form-group">
            <label>Github Url</label>
            <input
              type="text"
              #githubUrl
              name="githubUrl"
              [(ngModel)]="editProject.githubUrl"
              class="form-control"
              required=""
            />
          </div>

          <div class="form-group">
            <label>Project Description</label>
            <textarea
              type="text"
              #description
              name="description"
              [(ngModel)]="editProject.description"
              class="form-control"
              required=""
              rows="4"
            ></textarea>
          </div>

          <div class="form-group">
            <label>Category</label>
            <select
              type="text"
              #categoryId
              name="categoryId"
              [(ngModel)]="editProject.categoryId"
              class="form-control"
              required=""
            >
            <option>Choose Category</option>
            <option *ngFor="let item of categories" value="{{item.id}}" [selected]="editProject.categoryId">{{item.name}}</option>
          </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            type="submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            [disabled]="editForm.invalid || !editForm.dirty"
          >
           <i class="fa fa-pencil" aria-hidden="true"></i> Update Changes
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
